layout {
  default_tab_template {
    children
    // https://github.com/dj95/zjstatus/discussions/44#discussioncomment-11681328
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        // hide_frame_for_single_pane "true"

        format_left  "{mode}#[fg=blue,bg=#383E5A,bold]  {session} #[fg=#383E5A,bg=bg] #[fg=white,bg=fg]󰓩  {tabs}"
        // format_right "#[fg=blue,bg=bg]{datetime}"
        format_right ""
        format_space "#[bg=fg]"

        datetime          "#[fg=#1A1B26,bg=blue]{format}"
        datetime_format   "  %H:%M "
        datetime_timezone "America/Detroit"

        mode_normal   "#[fg=#1A1B26,bg=blue,bold] NORMAL #[fg=blue,bg=#383E5A]"
        mode_pane     "#[fg=#1A1B26,bg=magenta,bold] PANE #[fg=magenta,bg=#383E5A]"
        mode_session  "#[fg=#1A1B26,bg=yellow,bold] SESSION #[fg=yellow,bg=#383E5A]"
        mode_tab      "#[fg=#1A1B26,bg=green,bold] TAB #[fg=green,bg=#383E5A]"

        tab_normal  "#[fg=#A9B1D6,bg=fg] [{index}] {name}"
        tab_active  "#[fg=green,bg=fg,bold,italic] [{index}] {name}"
      }
    }
  }
}
